/*=========================================================================================
==========================================================================================*/

//----------------------
// Import Fonts // 
@import '/src/assets/fonts/overpass/stylesheet.css';

//----------------------
// Bootstrap //
@import '../vendors/bootstrap/scss/functions';
@import '../vendors/bootstrap/scss/variables';

//----------------------
// Theme Config //
@import './config/colors';
@import './config/variables';
@import './fonts/roboto';

@import './core/core';

//----------------------
// Main Layout Styles //
@import "./layout/container";
@import "./layout/header-navbar";
@import "./layout/main-navbar";
@import "./layout/main-sidebar";
@import "./layout/side-overlay";
@import "./layout/footer";

/*=========================================================================================
==========================================================================================*/