.alert {
    position: relative;
    padding: .6rem 1.25rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: .1rem;

    button .close {
        float: right;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        color: #004085;
        text-shadow: 0 1px 0 #fff;
        opacity: .6;
    }

    @include themify($themes) {
    	.alert-primary {
	    	color: themed('primary') !important;
	    	background-color: themed('primary') !important;
	    	border-color: themed('primary') !important;
    	}

    	.alert-fill-primary {
	    	color: #ffffff !important;
	    	background-color: themed('primary') !important;
	    	border-color: themed('primary') !important;
    	}

    	.alert-icon-primary {
	    	color: themed('primary') !important;
	    	background-color: themed('primary') !important;
	    	border-color: themed('primary') !important;
    	}
  	}
}