.alert {
    position: relative;
    padding: .6rem 1.25rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: .1rem;

    button .close {
        float: right;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        color: #004085;
        text-shadow: 0 1px 0 #fff;
        opacity: .6;
    }
    
}

.alert-primary {
    @include themify($themes) {
        color: themed('primary') !important;
        background-color: rgba(themed('primary'), .1) !important;
        border-color: themed('primary') !important;
    }

    hr {
        @include themify($themes) {
            border-top-color: themed('primary') !important;
        }
    }
}


.alert-secondary {
    @include themify($themes) {
        color: themed('secondary') !important;
        background-color: rgba(themed('secondary'), .1) !important;
        border-color: themed('secondary') !important;
    }

    hr {
        @include themify($themes) {
            border-top-color: themed('secondary') !important;
        }
    }
}
