.btn-primary {
    @include themify($themes) {
        color: $white !important;
        background-color: themed('primary') !important;
        border-color: themed('primary') !important;
    }
}

.btn-secondary {
    @include themify($themes) {
        color: $white !important;
        background-color: themed('secondary') !important;
        border-color: themed('secondary') !important;
    }
}


.btn-tertiary {
    @include themify($themes) {
        color: $white !important;
        background-color: themed('tertiary') !important;
        border-color: themed('tertiary') !important;
    }
}

.btn-accent {
    @include themify($themes) {
        color: $white !important;
        background-color: themed('accent') !important;
        border-color: themed('accent') !important;
    }
}

.btn-shade {
    @include themify($themes) {
        color: $white !important;
        background-color: themed('shade') !important;
        border-color: themed('shade') !important;
    }
}

.btn-light {
    @include themify($themes) {
        color: themed('dark') !important;
        background-color: themed('light') !important;
        border-color: themed('light') !important;
    }
}

.btn-dark {
    @include themify($themes) {
        color: $white !important;
        background-color: themed('dark') !important;
        border-color: themed('dark') !important;
    }
}