.theme-palette {
	height: 15rem;
	width: 15rem;
}

.palette-primary {

	@include themify($themes) {
	
		background-color: themed('primary') !important;
		color: #ffffff !important;
	
	}

}

.palette-secondary {

	@include themify($themes) {
	
		background-color: themed('secondary') !important;
		color: #ffffff !important;
	
	}

}
