doctype html
- 
  var x = app.appTheme
html(class="theme-" + x)

  include ../partials/_head.pug

  body
    include ../partials/_header-navbar.pug


    include ../partials/_main-content.pug


    include ../partials/_footer.pug

