doctype html
html(lang="en")

  include ../partials/_head.pug

  body#theme-default
    include ../partials/_header-navbar.pug


    include ../partials/_main-content.pug


    include ../partials/_footer.pug