doctype html
html(lang="en")

  include ../partials/_head.pug

  body(class="fixed-footer horizontal-menu")

    include ../partials/_side-overlay.pug

    include ../partials/_header-navbar.pug

    include ../partials/_main-navbar.pug

    include ../partials/_main-sidebar.pug

    include ../partials/_main-content.pug

    include ../partials/_hero-module.pug
    
    include ../partials/_footer.pug