doctype html

html

	include ../partials/_head.pug

	body
		.main-wrapper
			include ../partials/_main-sidebar.pug

			.page-wrapper

				include ../partials/_header-navbar.pug

				.page-content

					include ../partials/_main-content.pug

				include ../partials/_footer.pug