<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#000000">
    <title>Urchin™ | Flexible Web Boilerplate</title>
    <link rel="apple-touch-icon" sizes="180x180" href="dist/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="dist/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="dist/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/favicon/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="dist/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="dist/assets/css/core.min.css">
  </head>
  <body class="theme-default">
    <div class="main-wrapper">
      <nav class="sidebar d-none d-sm-block">
        <div class="sidebar-header d-none d-sm-flex"><a class="sidebar-brand" href="#">Company Name </a>
          <div class="sidebar-toggler not-active"><span></span><span></span><span></span></div>
        </div>
        <div class="sidebar-body">
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="/" role="button" aria-expanded="false" aria-controls="dashboards"><i class="mr-4 ml-2" data-feather="layers"></i><span class="link-title">
                   Dashboard</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="dashboards">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Main</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#applications" role="button" aria-expanded="false" aria-controls="applications"><i class="mr-4 ml-2" data-feather="layers"></i><span class="link-title">Applications</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="applications">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Email</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#themes" role="button" aria-expanded="false" aria-controls="themes"><i class="mr-4 ml-2" data-feather="layers"></i><span class="link-title">
                   Themes</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="themes">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Default</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Malaise</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Regal</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="collapse" href="#uiElements" role="button" aria-expanded="false" aria-controls="uiElements"><i class="mr-4 ml-2" data-feather="feather"></i><span class="link-title">
                   UI Elements</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="uiElements">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Alerts</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#icons" role="button" aria-expanded="false" aria-controls="icons"><i class="mr-4 ml-2" data-feather="smile"></i><span class="link-title">
                   Icons</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="icons">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Icons</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#components" role="button" aria-expanded="false" aria-controls="components"><i class="mr-4 ml-2" data-feather="layers"></i><span class="link-title">
                   Components</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="components">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">1</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#forms" role="button" aria-expanded="false" aria-controls="forms"><i class="mr-4 ml-2" data-feather="inbox"></i><span class="link-title">
                   Forms</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="forms">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">1</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#tables" role="button" aria-expanded="false" aria-controls="tables"><i class="mr-4 ml-2" data-feather="layout"></i><span class="link-title">
                   Tables</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="tables">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">1</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#charts" role="button" aria-expanded="false" aria-controls="charts"><i class="mr-4 ml-2" data-feather="pie-chart"></i><span class="link-title">
                   Charts</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="charts">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">1</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#pages" role="button" aria-expanded="false" aria-controls="pages"><i class="mr-4 ml-2" data-feather="layers"></i><span class="link-title">
                   Pages</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="pages">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">1</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled" data-toggle="collapse" href="#authentication" role="button" aria-expanded="false" aria-controls="authentication"><i class="mr-4 ml-2" data-feather="layers"></i><span class="link-title">
                   Auth</span><i class="link-arrow" data-feather="chevron-down"></i></a>
              <div class="collapse" id="authentication">
                <ul class="nav sub-menu">
                  <li class="nav-item"><a class="nav-link" href="#">1</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="page-wrapper">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="row w-100 m-0">
              <div class="col-4 pt-1">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item d-flex d-sm-none"><a class="nav-link" href="#"><i data-feather="menu"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="check-square"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="calendar"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="mail"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="message-square"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="search"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="star"></i></a></li>
                </ul>
              </div>
              <div class="col-4 pt-1">
                <ul class="navbar-nav mr-auto justify-content-center">
                  <li class="nav-item d-sm-none d-md-flex"><a class="navbar-brand" href="#"></a></li>
                </ul>
              </div>
              <div class="col-4 pt-1">
                <ul class="navbar-nav mr-auto float-right">
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="flag"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="bell"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="maximize"></i></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><i data-feather="grid"></i></a></li>
                  <li class="nav-item d-none d-md-flex"><a class="nav-link" href="#"><i data-feather="settings"></i></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"><i data-feather="user"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="page-content">
          <div class="d-flex justify-content-between align-items-center flex-wrap my-3">
            <div>
              <h1 class="mb-3">Welcome First Last</h1>
              <p class="lead">This is the primary dashboard feature of the toolkit, which incorporates features from a variety of plugins. </p>
            </div>
            <div class="d-flex align-items-center text-nowrap">
              <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDatePicker"><span class="input-group-addon bg-transparent"><i class="text-dark" data-feather="calendar"></i></span>
                <input class="form-control" type="text">
              </div>
              <button class="btn btn-outline-darken btn-icon-text mr-2 d-none d-md-block" type="button"><i class="btn-icon-prepend" data-feather="download">Import</i></button>
              <button class="btn btn-outline-dark btn-icon-text mr-2 d-none d-md-block" type="button"><i class="btn-icon-prepend" data-feather="printer">Print</i></button>
              <button class="btn btn-dark btn-icon-text mr-2 d-none d-md-block" type="button"><i class="btn-icon-prepend" data-feather="download-cloud">Download Report</i></button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-xl-12 stretch-card">
              <div class="row flex-grow">
                <div class="col-md-4 px-1 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                        <h6 class="card-title mb-0">New Customers</h6>
                        <div class="dropdown mb-2">
                          <button class="btn p-0 dashboard-card-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item d-flex align-items-center" href=""><i class="icon-sm mr-2" data-feather="eye"></i><span></span></a></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6 col-md-12 col-xl-5">
                          <h4 class="mb-2">123123</h4>
                          <div class="d-flex align-items-baseline">
                            <p class="text-success"><span>+3.3%</span><i class="icon-sm mb-1" data-feather="arrow-up"></i></p>
                          </div>
                        </div>
                        <div class="col-6 col-md-12 col-xl-7">
                          <div class="mt-md-3 mt-xl-0" id="apexChart1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-1 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                        <h6 class="card-title mb-0">New Customers</h6>
                        <div class="dropdown mb-2">
                          <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-lg text-muted pb-3px" data-feather="menu"></i></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item d-flex align-items-center" href=""><i class="icon-sm mr-2" data-feather="eye"></i><span></span></a></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6 col-md-12 col-xl-5">
                          <h4 class="mb-2">123123</h4>
                          <div class="d-flex align-items-baseline">
                            <p class="text-success"><span>+3.3%</span><i class="icon-sm mb-1" data-feather="arrow-up"></i></p>
                          </div>
                        </div>
                        <div class="col-6 col-md-12 col-xl-7">
                          <div class="mt-md-3 mt-xl-0" id="apexChart1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-1 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline">
                        <h6 class="card-title mb-0">New Customers</h6>
                        <div class="dropdown mb-2">
                          <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-lg text-muted pb-3px" data-feather="settings"></i></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item d-flex align-items-center" href=""><i class="icon-sm mr-2" data-feather="eye"></i><span class="Test"></span></a></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6 col-md-12 col-xl-5">
                          <h4 class="mb-2">123123</h4>
                          <div class="d-flex align-items-baseline">
                            <p class="text-success"><span>+3.3%</span><i class="icon-sm mb-1" data-feather="arrow-up"></i></p>
                          </div>
                        </div>
                        <div class="col-6 col-md-12 col-xl-7">
                          <div class="mt-md-3 mt-xl-0" id="apexChart1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row flex-grow">
                <div class="col-lg-12 px-1 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">Projects</h6>
                        <div class="dropdown mb-2">
                          <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-lg text-muted pb-3px" data-feather="sliders"></i></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item d-flex align-items-center" href=""><i class="icon-sm mr-2" data-feather="eye"></i><span class="Test"></span></a></div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-hover mb-0">
                          <thead>
                            <tr>
                              <th class="py-2">#</th>
                              <th class="py-2">Project Name</th>
                              <th class="py-2">Start Date</th>
                              <th class="py-2">End Date</th>
                              <th class="py-2">Due Date</th>
                              <th class="py-2">Status</th>
                              <th class="py-2">Owner</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-primary">Released</span></td>
                              <td>Test</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-secondary">Released</span></td>
                              <td>Test</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-tertiary">Released</span></td>
                              <td>Test</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-light">Released</span></td>
                              <td>Test</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-dark">Released</span></td>
                              <td>Test</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-danger">Released</span></td>
                              <td>Test</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-info">Released</span></td>
                              <td>Test</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Test</td>
                              <td>date</td>
                              <td>date</td>
                              <td>date</td>
                              <td><span class="badge badge-success">Released</span></td>
                              <td>Test</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid p-3">
            <div class="row">
              <div class="col-md-6">2020 © First Last - https://website.com</div>
              <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block"><a class="p-3" href="javascript: void(0);">About</a><a class="p-3" href="javascript: void(0);">Support</a><a class="p-3" href="javascript: void(0);">Contact Us</a></div>
              </div>
            </div>
          </div>
        </footer>
        <script src="./assets/fonts/feather-icons/dist/feather.js"></script>
        <script src="./assets/js/datepicker.js"></script>
        <script src="./assets/js/core.min.js"></script>
        <script>
            var mainWrapper = document.querySelector('.main-wrapper');
            var toggleBtn = document.querySelector('.sidebar-toggler');
            var sidebar = document.querySelector('.sidebar');
          
          	toggleBtn.addEventListener('click', function() {
              if(mainWrapper.className == "main-wrapper") {
                toggleBtn.className = "sidebar-toggler active";
                mainWrapper.className="main-wrapper sidebar-closed"
              }
              else {
                toggleBtn.className = "sidebar-toggler not-active"
                mainWrapper.className="main-wrapper"
              }
            })
        </script>
      </div>
    </div>
  </body>
</html>