footer(class="footer")
  div(class="container-fluid p-3 p-md-5")
    div(class="row")
      div(class="col-md-6") 2020 © #{personal.firstName} #{personal.lastName} - #{personal.website}
      div(class="col-md-6")
        div(class="text-md-right footer-links d-none d-md-block")
          a.p-3(href="javascript: void(0);") About
          a.p-3(href="javascript: void(0);") Support
          a.p-3(href="javascript: void(0);") Contact Us
script(src="./assets/fonts/feather-icons/dist/feather.js")
script(src="./assets/js/core.min.js")
