footer(class="py-3 mt-auto")
  div(class="container-fluid p-3 p-md-5")
    div(class="d-flex align-items-center justify-content-between small")
      div(class="text-muted") 2020 © #{personal.firstName} #{personal.lastName} - #{personal.website}
      div
        a(href="#") Privacy Policy
        |&nbsp;.&nbsp;
        a(href="#") Terms &amp; Conditions


script(src="./assets/fonts/feather-icons/dist/feather.js")
script(src="./assets/js/core.min.js")

