nav(class="navbar")
    .container-fluid
        .row.w-100.m-0
            .col-4.pt-1
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="check-square")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="calendar")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="mail")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="message-square")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="search")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="star")
            .col-4.pt-1
                ul(class="navbar-nav mr-auto justify-content-center")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="navbar-brand" href="#")
            .col-4.pt-1
                ul(class="navbar-nav mr-auto float-right")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="flag")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="bell")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="maximize")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="grid")
                    li(class="nav-item d-sm-none d-md-flex")
                        a(class="nav-link" href="#")
                            i(data-feather="settings")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="user")