nav(class="navbar navbar-expand-md")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    .container-fluid.collapse.navbar-collapse#navbarsExampleDefault
        .row.w-100.m-0
            .col-xl-1.col-lg-1.col-md-2.col-sm-2.col-xs-2.pt-1
                a(href="#" class="navbar-brand d-flex align-items-center")
                    strong #{personal.companyName} 
            .col-3.pt-1
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item")
                        a(class="nav-link text-dark" href="#")
                            i(data-feather="layout")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="check-square")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="calendar")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="mail")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="message-square")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="search")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="star")
            .col-4.pt-1
                ul(class="navbar-nav mr-auto justify-content-center")
                    li(class="nav-item")
                        a(class="navbar-brand" href="#")
            .col-4.pt-1
                ul(class="navbar-nav mr-auto float-right")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="flag")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="bell")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="maximize")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="grid")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="settings")
                    li(class="nav-item")
                        a(class="nav-link" href="#")
                            i(data-feather="user")
