nav(class="d-md-block sidebar")
	.sidebar-header
		a(href="#" class="sidebar-brand")
			| #{personal.companyName} 
		.sidebar-toggler.not-active
			span
			span
			span
	.sidebar-body
		ul(class="nav flex-column")
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Dashboards
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Applications
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Themes
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| UI Elements
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Icons
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Components
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Forms
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Tables
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Charts
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Widgets
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Pages
			li(class="nav-item")
				a(class="nav-link" href="#")
					i(class="mr-4" data-feather="layers")
					| Auth