.container-fluid
  .row
    nav(id="sidebarMenu navbarSupportedContent" class="pb-3 d-md-block sidebar collapse")
      .sidebar-sticky.pt-3
        ul(class="nav flex-column")
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="layers")
              | Dashboards
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="grid")
              | Layouts
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="grid")
              | Applications
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="box")
              | Themes
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="box")
              | UI Elements
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="bar-chart")
              | Icons
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="server")
              | Components
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="edit")
              | Forms
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="hard-drive")
              | Tables
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="bar-chart")
              | Charts
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="bar-chart")
              | Widgets
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="book-open")
              | Pages
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-4" data-feather="log-in")
              | Auth


    main(role="main" class="main-content px-md-4")
      .container-fluid.pt-3
        h1(class="h2") Dashboard
        ol(class="breadcrumb mb-4")
          li(class="breadcrumb-item active") Dashboard
        .row