.container-fluid
  .row
    nav(id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse")
      .sidebar-sticky.pt-3
        h4(class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted")
        span Saved Reports
        ul(class="nav flex-column")
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="layers")
              | Dashboards
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="grid")
              | Applications
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="box")
              | UI Elements
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="server")
              | Components
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="edit")
              | Forms
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="hard-drive")
              | Tables
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="bar-chart")
              | Charts
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="book-open")
              | Pages
          li(class="nav-item")
            a(class="nav-link active" href="#")
              i(class="mr-2" data-feather="log-in")
              | Authentication
        
main(role="main")
  .jumbotron
    .container.pt-4
      h1.display-3 Hello, world!
      p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      p
        a.btn.btn-primary.btn-lg(href="#" role="button") Learn More &raquo;
.container
  .row
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
      p
        a.btn.btn-secondary(href="#" role="button") View Details &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
      p
        a.btn.btn-secondary(href="#" role="button") View Details &raquo;
    .col-md-4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
      p
        a.btn.btn-secondary(href="#" role="button") View Details &raquo;
.container
  .row
    .col-md-12
      p You've selected the theme: #{app.appTheme}
      .alert.alert-primary(role="alert") A simple primary alert - check it out!
      .alert.alert-secondary(role="alert") A simple secondary alert - check it out!
      .alert.alert-success(role="alert") A simple success alert - check it out!
      .alert.alert-danger(role="alert") A simple danger alert - check it out!
      .alert.alert-warning(role="alert") A simple warning alert - check it out!
      .alert.alert-info(role="alert") A simple info alert - check it out!
      .alert.alert-light(role="alert") A simple light alert - check it out!
      .alert.alert-dark(role="alert") A simple dark alert - check it out!