nav.sidebar.d-none.d-sm-block
	.sidebar-header.d-none.d-sm-flex
		a(href="index.html" class="sidebar-brand")
			| #{personal.companyName} 
		.sidebar-toggler.not-active
			span
			span
			span
	.sidebar-body
		ul(class="nav flex-column")
			li(class="nav-item")
				a(class="nav-link" href="index.html")
					i(class="mr-4 ml-2" data-feather="compass")
					span.link-title 
						| Dashboard
			li(class="nav-item")
				a(class="nav-link" data-toggle="collapse" href="#uiElements" role="button" aria-expanded="false" aria-controls="uiElements")
					i(class="mr-4 ml-2" data-feather="hard-drive")
					span.link-title 
						| UI Elements
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="uiElements")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="alerts.html") Alerts
						li.nav-item
							a.nav-link(href="badges.html") Badges
						li.nav-item
							a.nav-link(href="breadcrumbs.html") Breadcrumbs
						li.nav-item
							a.nav-link(href="buttons.html") Buttons
						li.nav-item
							a.nav-link(href="button-groups.html") Button Groups
						li.nav-item
							a.nav-link(href="cards.html") Cards
			li(class="nav-item")
				a(class="nav-link disabled" data-toggle="collapse" href="#applications" role="button" aria-expanded="false" aria-controls="applications")
					i(class="mr-4 ml-2" data-feather="cpu")
					span.link-title
						| Applications
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="applications")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="#") Email
			li(class="nav-item")
				a(class="nav-link" href="themes.html")
					i(class="mr-4 ml-2" data-feather="pen-tool")
					span.link-title 
						| Themes
			li(class="nav-item")
				a(class="nav-link disabled" data-toggle="collapse" href="#icons" role="button" aria-expanded="false" aria-controls="icons")
					i(class="mr-4 ml-2" data-feather="gift")
					span.link-title 
						| Icons
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="icons")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="#") Icons
			li(class="nav-item")
				a(class="nav-link disabled" data-toggle="collapse" href="#forms" role="button" aria-expanded="false" aria-controls="forms")
					i(class="mr-4 ml-2" data-feather="inbox")
					span.link-title 
						| Forms
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="forms")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="#") 1
			li(class="nav-item")
				a(class="nav-link disabled" data-toggle="collapse" href="#tables" role="button" aria-expanded="false" aria-controls="tables")
					i(class="mr-4 ml-2" data-feather="layout")
					span.link-title 
						| Tables
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="tables")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="#") 1
			li(class="nav-item")
				a(class="nav-link disabled" data-toggle="collapse" href="#charts" role="button" aria-expanded="false" aria-controls="charts")
					i(class="mr-4 ml-2" data-feather="pie-chart")
					span.link-title 
						| Charts
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="charts")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="#") 1
			li(class="nav-item")
				a(class="nav-link disabled" data-toggle="collapse" href="#pages" role="button" aria-expanded="false" aria-controls="pages")
					i(class="mr-4 ml-2" data-feather="layers")
					span.link-title 
						| Pages
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="pages")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="#") 1
			li(class="nav-item")
				a(class="nav-link disabled" data-toggle="collapse" href="#authentication" role="button" aria-expanded="false" aria-controls="authentication")
					i(class="mr-4 ml-2" data-feather="users")
					span.link-title 
						| Auth
					i(class="link-arrow" data-feather="chevron-down")
				.collapse(id="authentication")
					ul.nav.sub-menu
						li.nav-item
							a.nav-link(href="#") 1