aside(id="side-overlay" data-simplebar="init")
    div(class="simplebar-wrapper" style="margin: 0px;")
        div(class="simplebar-height-auto-observer-wrapper")
            div(class="simplebar-height-auto-observer")
    div(class="simplebar-mask")
        div(class="simplebar-offset" style="right: 0px; bottom: 0px;")
            div(class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;")
                div(class="simplebar-content" style="padding: 0px;")
                    div(class="content-header border-bottom")
                        a(class="img-link mr-1" href="javascript:void(0)")
                            img(class="img-avatar img-avatar32" src="assets/media/avatars/avatar10.jpg" alt="")
                        div(class="ml-2")
                            a(class="text-dark font-w600 font-size-sm" href="javascript:void(0)") NAME
                        a(class="ml-auto btn btn-sm btn-alt-danger" href="javascript:void(0)" data-toggle="layout" data-action="side_overlay_close")
                            i(class="fa fa-fw fa-times")
                    div(class="content-side")
                        div(class="block block-transparent pull-x pull-t")
                            ul(class="nav nav-tabs nav-tabs-alt nav-justified js-tabs-enabled" data-toggle="tabs" role="tablist")
                                li(class="nav-item")
                                    a(class="nav-link active" href="#so-overview")
                                        i(class="fa fa-fw fa-coffee text-gray mr-1")
                                li(class="nav-item")
                                    a(class="nav-link active" href="#so-sales")
                                        i(class="fa fa-fw fa-chart-line text-gray mr-1")
                            div(class="block-content tab-content overflow-hidden")
                                div(class="tab-pane pull-x fade fade-left show active" id="so-overview" role="tabpanel")
                                div(class="tab-pane pull-x fade fade-right" id="so-sales" role="tabpanel")