.main-wrapper {
  overflow: hidden;

  	.page-wrapper {
		min-height: 100vh;
		background: $content-bg;
		width: calc(100% - $sidebar-base-width);
		display: -webkit-flex;
		margin-left: $sidebar-base-width;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-transition: margin .1s ease, width .1s ease;
		transition: margin .1s ease, width .1s ease;

		.page-content {
			flex-grow: 1;
	    	padding: 5px 25px;
		}

	}

}

.sidebar-closed > .page-wrapper {
  	margin-left: 4rem;
}

@media (max-width: $breakpoint-small) {
	.page-wrapper {
  		margin-left: 0rem !important;
	}
}