// ------------------------------
// Color Configuration Options

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary: #007bff;
$secondary: #6C757D;
$tertiary: #E0FBFC;
$success:#28a745;
$warning:#ffc107;
$danger:#dc3545;
$info:#17a2b8;
$light: #f8f9fa;
$light-accent:#dee2e6;
$light-shades:#EFEEEC;
$dark: #343a40;
$dark-accent:#495057;
$dark-shades:#221B1B;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$theme-gradient-colors: (
  primary:         linear-gradient(230deg, #759bff, #843cf6),
  secondary:       linear-gradient(to right, #e7ebf0, #868e96),
  success:         linear-gradient(45deg, #7bffce, #30c93e),
  info:            linear-gradient(to bottom, #0e4cfd, #6a8eff),
  warning:         linear-gradient(135deg, #ffc480, #ff763b),
  danger:          linear-gradient(316deg, #fc5286, #fbaaa2),
  light:           linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%),
  dark:            linear-gradient(to right, #7d7979 0%, #000000 100%)
);

$content-bg: #f9fafb;
$border-color: #e8ebf1;

$social-colors: (
  twitter: #2caae1,
  facebook: #3b579d,
  google: #dc4a38,
  linkedin: #0177b5,
  pinterest: #cc2127,
  youtube: #e52d27,
  github: #333333,
  behance: #1769ff,
  dribbble: #ea4c89,
  reddit: #ff4500,
  instagram: #fb3958
);


// ------------------------------
// Available Theme Presets

$themes: (
    default: (
      primary: #393d3f,
      secondary: #546A7B,
      tertiary: #62929E,
      success:#28a745,
      warning:#ffc107,
      danger:#dc3545,
      info:#17a2b8,
      light: #FDFDFF,
      light-accent:#dee2e6,
      light-shades:#ebebff,
      dark: #191308,
      dark-accent:#495057,
      dark-shades:#221B1B,
    ),
    malaise: (
      primary: #E63946,
      secondary: #457B9D,
      tertiary: #A8DADC,
      light: #ffffff,
      light-accent:#dee2e6,
      light-shades:#ebebff,
      dark: #000000,
      dark-accent:#495057,
      dark-shades:#221B1B,
    ),
    regal: (
      primary: #ECA269,
      secondary: #BBE1C3,
      tertiary: #A7CDBD,
      light: #FDFDFF,
      light-accent:#dee2e6,
      light-shades:#ebebff,
      dark: #191308,
      dark-accent:#495057,
      dark-shades:#221B1B,
    ),
    locksmith:(

    ),
    triage:(

    ),
    pacific:(

    ),
    ranchhand:(

    )
  );  

// ------------------------------
// Implement Theme Functionality
  $theme-map: () !default;
  @mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  @function themed($key) {
    @return map-get($theme-map, $key);
  }

