// General Variables //
// ------------------------------
$body-direction: ltr;




// Font Sizes //
// ------------------------------
$base-font-size: 16px;





// Component Colors //
// ------------------------------
$body-bg: $white;





// Menu Sizes //
// ------------------------------


