doctype html
html
	include ../../partials/_head.pug
	body(class="theme-" + app.appTheme)
		.main-wrapper
			include ../../partials/_main-sidebar.pug
			.page-wrapper
				include ../../partials/_header-navbar.pug
				.page-content
					.d-flex.justify-content-between.align-items-center.flex-wrap.my-3
						div.col-md-12
							h1.mb-3 Accordions
							p.lead Use 
								code .accordion
								| &nbsp; class to to wrap the whole accordion content.

						div.col-md-12
							.m-t-25
								div.show-code-header Default Accordion
									.custom-control.custom-switch.custom-switch-primary.custom-control-inline.float-right
										.show-code-switch Example Code
										input(type="checkbox" class="custom-control-input" id="accordionDefault1")
										label(class="custom-control-label" for="accordionDefault1")
											span.switch-text-left On
											span.switch-text-right Off
								.accordion#accordion-default
									.card
										.p-3
											h6.card-title
												a(data-toggle="collapse" href="#collapseOneDefault")
													span Collapsible Group Item #1
										.collapse.show#collapseOneDefault(data-parent="#accordion-default")
											.card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									
									.card
										.p-3
											h6.card-title
												a(data-toggle="collapse" href="#collapseTwoDefault")
													span Collapsible Group Item #2
										.collapse#collapseTwoDefault(data-parent="#accordion-default")
											.card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									
									.card
										.p-3
											h6.card-title
												a(data-toggle="collapse" href="#collapseThreeDefault")
													span Collapsible Group Item #3
										.collapse#collapseThreeDefault(data-parent="#accordion-default")
											.card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

							figure.highlight#accordion-default
								pre
									code.language-markup
										script(type="script/prism-html-markup")
											<div class="accordion" id="accordion-default">
												<div class="card">
													<div class="card-header">
														<h5 class="card-title">
															<a data-toggle="collapse" href="#collapseOneDefault">
																<span>Collapsible Group Item #1</span>
															</a>
														</h5>
													</div>
													<div id="collapseOneDefault" class="collapse show" data-parent="#accordion-default">
														<div class="card-body">
															| ...
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header">
														<h5 class="card-title">
															<a class="collapsed" data-toggle="collapse" href="#collapseTwoDefault">
																<span>Collapsible Group Item #2</span>
															</a>
														</h5>
													</div>
													<div id="collapseTwoDefault" class="collapse" data-parent="#accordion-default">
														<div class="card-body">
															| ...
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header">
														<h5 class="card-title">
															<a class="collapsed" data-toggle="collapse" href="#collapseThreeDefault">
																<span>Collapsible Group Item #3</span>
															</a>
														</h5>
													</div>
													<div id="collapseThreeDefault" class="collapse" data-parent="#accordion-default">
														<div class="card-body">
															| ...
														</div>
													</div>
												</div>
											</div>


									button.btn.btn-clipboard(type="button" data-clipboard-target="#defaultButton" data-toggle="tooltip" title="" data-original-title="Copy to clipboard")
										i(data-feather="copy")

				
				include ../../partials/_footer.pug