doctype html
html
	include ../../partials/_head.pug
	body(class="theme-" + app.appTheme)
		.main-wrapper
			include ../../partials/_main-sidebar.pug
			.page-wrapper
				include ../../partials/_header-navbar.pug
				.page-content
					.d-flex.justify-content-between.align-items-center.flex-wrap.my-3
						div.col-md-12
							h1.mb-3 Alerts
							p.lead Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
							hr
						div.col-md-12.mb-3
							div
								div.show-code-header Simple Alerts with Links
									.custom-control.custom-switch.custom-switch-primary.custom-control-inline.float-right
										.show-code-switch Example Code
										input(type="checkbox" class="custom-control-input" id="alertDefault1" checked)
										label(class="custom-control-label" for="alertDefault1")
											span.switch-text-left On
											span.switch-text-right Off
								div.mt-2
									p.mb-3 Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use one of the eight required contextual classes (e.g., 
										code .alert-success
									.demo-content
										.alert.alert-primary(role="alert") A simple 
											a.alert-link(href="#") primary alert &nbsp;
											| with an example link.
										.alert.alert-secondary(role="alert") A simple 
											a.alert-link(href="#") secondary alert &nbsp;
											| with an example link.
										.alert.alert-success(role="alert") A simple 
											a.alert-link(href="#") success alert &nbsp;
											| with an example link.
										.alert.alert-warning(role="alert") A simple 
											a.alert-link(href="#") accent alert &nbsp;
											| with an example link.
										.alert.alert-danger(role="alert") A simple 
											a.alert-link(href="#") shade alert &nbsp;
											| with an example link.
										.alert.alert-info(role="alert") A simple 
											a.alert-link(href="#") shade alert &nbsp;
											| with an example link.
										.alert.alert-dark(role="alert") A simple 
											a.alert-link(href="#") shade alert &nbsp;
											| with an example link.
										.alert.alert-light(role="alert") A simple 
											a.alert-link(href="#") shade alert &nbsp;
											| with an example link.
									figure.highlight#defaultAlerts
										pre
											code.language-markup
												script(type="script/prism-html-markup")
													<div class="alert alert-primary" role="alert">A simple <a class="alert-link" href="#">primary alert</a> with an example link.</div>
													<div class="alert alert-secondary" role="alert">A simple <a class="alert-link" href="#">secondary alert</a> with an example link.</div>
													<div class="alert alert-success" role="alert">A simple <a class="alert-link" href="#">success alert</a> with an example link.</div>
													<div class="alert alert-warning" role="alert">A simple <a class="alert-link" href="#">warning alert</a> with an example link.</div>
													<div class="alert alert-danger" role="alert">A simple <a class="alert-link" href="#">danger alert</a> with an example link.</div>
													<div class="alert alert-dark" role="alert">A simple <a class="alert-link" href="#">dark alert</a> with an example link.</div>
													<div class="alert alert-light" role="alert">A simple <a class="alert-link" href="#">light alert</a> with an example link.</div>
											button.btn.btn-clipboard(type="button" data-clipboard-target="#defaultButton" data-toggle="tooltip" title="" data-original-title="Copy to clipboard")
												i(data-feather="copy")
						div.col-md-12.mb-3
							div
								div.show-code-header Additional Content Alerts
									.custom-control.custom-switch.custom-switch-primary.custom-control-inline.float-right
										.show-code-switch Example Code
										input(type="checkbox" class="custom-control-input" id="alertBody1" checked)
										label(class="custom-control-label" for="alertBody1")
											span.switch-text-left On
											span.switch-text-right Off
								div.mt-2
									p.mb-3 Alerts are available for any length of text, as well as an optional dismiss button. For proper styling, use one of the eight required contextual classes (e.g., 
										code .alert-success
									.demo-content
										.alert.alert-primary(role="alert")
											h4.alert-heading Headline Text
											p Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
											hr
											p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.
									figure.highlight#defaultAlerts
										pre
											code.language-markup
												script(type="script/prism-html-markup")
													<div class="alert alert-primary" role="alert">
														<h4 class="alert-heading">Headline Text</h4>
														<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
														<hr>
														<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
													</div>
											button.btn.btn-clipboard(type="button" data-clipboard-target="#defaultButton" data-toggle="tooltip" title="" data-original-title="Copy to clipboard")
												i(data-feather="copy")
						div.col-md-12.mb-3
							div
								div.show-code-header Dismissing Alerts
									.custom-control.custom-switch.custom-switch-primary.custom-control-inline.float-right
										.show-code-switch Example Code
										input(type="checkbox" class="custom-control-input" id="alertDismissable1" checked)
										label(class="custom-control-label" for="alertDismissable1")
											span.switch-text-left On
											span.switch-text-right Off
								div.mt-2
									p.mb-3 Using the alert JavaScript plugin, it’s possible to dismiss any alert inline. Here’s how:
									.demo-content
										.alert.alert-primary.alert-dismissable.fade.show(role="alert")
											strong This alert 
											| can be dismissed by clicking the close button.
											button.close(type="button" data-dismiss="alert" aria-label="Close")
												i(class="" data-feather="x-square")
										.alert.alert-secondary.alert-dismissable.fade.show(role="alert")
											strong This alert 
											| can be dismissed by clicking the close button.
											button.close(type="button" data-dismiss="alert" aria-label="Close")
												i(class="" data-feather="x-square")
										.alert.alert-success.alert-dismissable.fade.show(role="alert")
											strong This alert 
											| can be dismissed by clicking the close button.
											button.close(type="button" data-dismiss="alert" aria-label="Close")
												i(class="" data-feather="x-square")
										.alert.alert-warning.alert-dismissable.fade.show(role="alert")
											strong This alert 
											| can be dismissed by clicking the close button.
											button.close(type="button" data-dismiss="alert" aria-label="Close")
												i(class="" data-feather="x-square")
										.alert.alert-danger.alert-dismissable.fade.show(role="alert")
											strong This alert 
											| can be dismissed by clicking the close button.
											button.close(type="button" data-dismiss="alert" aria-label="Close")
												i(class="" data-feather="x-square")
										.alert.alert-dark.alert-dismissable.fade.show(role="alert")
											strong This alert 
											| can be dismissed by clicking the close button.
											button.close(type="button" data-dismiss="alert" aria-label="Close")
												i(class="" data-feather="x-square")
										.alert.alert-light.alert-dismissable.fade.show(role="alert")
											strong This alert 
											| can be dismissed by clicking the close button.
											button.close(type="button" data-dismiss="alert" aria-label="Close")
												i(class="" data-feather="x-square")
									figure.highlight#defaultAlerts
										pre
											code.language-markup
												script(type="script/prism-html-markup")
													<div class="alert alert-primary alert-dismissable fade show" role="alert"><strong>This alert </strong>can be dismissed by clicking the close button.
														<button class="close" type="button" data-dismiss="alert" aria-label="Close"><i data-feather="x-square"></i></button>
													</div>
													<div class="alert alert-secondary alert-dismissable fade show" role="alert"><strong>This alert </strong>can be dismissed by clicking the close button.
														<button class="close" type="button" data-dismiss="alert" aria-label="Close"><i data-feather="x-square"></i></button>
													</div>
													<div class="alert alert-tertiary alert-dismissable fade show" role="alert"><strong>This alert </strong>can be dismissed by clicking the close button.
														<button class="close" type="button" data-dismiss="alert" aria-label="Close"><i data-feather="x-square"></i></button>
													</div>
													<div class="alert alert-accent alert-dismissable fade show" role="alert"><strong>This alert </strong>can be dismissed by clicking the close button.
														<button class="close" type="button" data-dismiss="alert" aria-label="Close"><i data-feather="x-square"></i></button>
													</div>
													<div class="alert alert-shade alert-dismissable fade show" role="alert"><strong>This alert </strong>can be dismissed by clicking the close button.
														<button class="close" type="button" data-dismiss="alert" aria-label="Close"><i data-feather="x-square"></i></button>
													</div>
											button.btn.btn-clipboard(type="button" data-clipboard-target="#defaultButton" data-toggle="tooltip" title="" data-original-title="Copy to clipboard")
												i(data-feather="copy")
												

										
						



				include ../../partials/_footer.pug