doctype html
html
	include ../../partials/_head.pug
	body(class="theme-" + app.appTheme)
		.main-wrapper
			include ../../partials/_main-sidebar.pug
			.page-wrapper
				include ../../partials/_header-navbar.pug
				.page-content
					.d-flex.justify-content-between.align-items-center.flex-wrap.my-3
						div.col-md-12
							h1.mb-3 Cards
							p.lead Bootstrap’s cards provide a flexible and extensible content container with multiple variants and options.
							hr
						div.col-md-12.mb-3
							h4 Example
							p.mb-3 Here's a basic card example.
							.col-md-3.p-0
								.card
									img.card-img-top(src="../assets/images/placeholder-banner.png" alt="Card Example")
									.card-body
										h5.card-title Card Title
										p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
										a.btn.btn-primary(href="#") Go Somewhere


						
				include ../../partials/_footer.pug